a,
a:focus,
a:hover {
  color: #fff;
}

html,
body {
  height: 100%;
  background-color: #333333;
}

body {
  color: #fff;
  text-align: center;
  text-shadow: 0 .05rem .1rem rgba(255, 255, 255,.1);
}

.site-wrapper {
  display: table;
  width: 100%;
  height: 100%;
  min-height: 100%;
  -webkit-box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
          box-shadow: inset 0 0 5rem rgba(0,0,0,.5);
}

.cover-container {
  margin-right: auto;
  margin-left: auto;
}

.inner {
  padding: 2rem;
}

.header {
  margin-bottom: 2rem;
}

.header-brand {
  margin-bottom: 0;
}

.nav-header .nav-link {
  padding: .25rem 0;
  font-weight: bold;
  color: rgba(255,255,255,.5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
}

.nav-header .nav-link:hover,
.nav-header .nav-link:focus {
  border-bottom-color: rgba(255,255,255,.25);
}

.nav-header .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-header .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .header-brand {
    float: left;
  }
  .nav-header {
    float: right;
  }
}

.footer {
  color: rgba(255,255,255,.5);
}

@media (min-width: 40em) {
  .header {
    position: fixed;
    top: 0;
  }
  .site-wrapper-inner {
    vertical-align: middle;
  }
  .header,
  .footer,
  .cover-container {
    width: 100%;
  }
}

@media (min-width: 62em) {
  .header,
  .footer,
  .cover-container {
    width: 42rem;
  }
}

.input-div {
    width: 20%;
    display: inline-block;
}

table {
    width: 400px;
    margin: 0 auto;
}